.container {
  padding: 0 1.6rem;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
}

.description {
  margin: 1.2rem 0;
  font-size: 1.6rem;
}

.description strong {
  font-weight: 700;
}

.DiaryEdit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1.6rem;
  margin-bottom: 4rem;
}

.DiaryEdit label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.DiaryEdit input,
textarea,
select,
option,
button {
  font-family: 'Pretendard';
  font-size: 1.5rem;
}

.DiaryEdit input,
textarea {
  width: 100%;
  padding: 1.6rem;
}

.DiaryEdit input,
select,
option {
  height: 4rem;
}

.DiaryEdit textarea {
  height: 28rem;
}

.DiaryEdit button {
  border: 0;
  padding: 1.6rem;
  cursor: pointer;
}

.DiaryList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.DiaryItem {
  padding: 1.6rem;
  background: rgb(239, 239, 239);
}

.DiaryItem .info {
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.4rem;
}

.emotion::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0.2rem 0.8rem 0 0.8rem;
  background-color: #000;
  vertical-align: top;
}

.date {
  display: block;
  margin-top: 0.8rem;
}

.button-group {
  display: flex;
  gap: 0.4em;
  margin-top: 1.2rem;
}

.diary-anlysis-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 2rem 0;
}

.diary-anlysis-item strong {
  font-weight: 700;
}
